<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Ninjas</title>
</head>
<body>
    <section>
        <h3>Add a Dojo</h3>
        <form action="/dojos/create" method="POST">
            {% csrf_token %}
            <label>Name<input type = "text" name = "name"></label>
            <label>City<input type = "text" name = "city"></label>
            <label>State<input type ="text" name = "state"></label>
            <button type="submit" id = "button">Add</button> 
        </form>
    </section>
    <section>
        <h3>Add a Ninja</h3>
        <form action="/ninjas/create" method="POST">
            {% csrf_token %}
            <label>First Name<input type = "text" name = "first_name" id = "first_name"></label>
            <label>Last Name<input type = "text" name = "last_name" id = "last_name"></label>
            <label>Dojo</label>
            <select name = "dojo" id = "dojo" class ="form-control">
                <option value="false">-select a dojo-</option>
            {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
            </select>
            <button type="submit" id = "button">Add</button>
        </form>
    </section>
    <div id="list">
        <h2>All the Dojos </h2>
        {% for dojo in dojos %}
            <h3>Ninjas at the {{ dojo.name }} </h3>
            <ul>
            {% for ninja in dojo.ninjas.all %}
                <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</body>
</html>